<!DOCTYPE html>
<html>
  <title>Simple Map</title>
  <head>
  {% load staticfiles %}
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/selectize.bootstrap3.css" >
  <link rel="stylesheet" href="/static/css/selectize.css" >
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/script1.js"></script>
  <link href="/static/css/selectize.css" >
  <link href="/static/css/selectize.bootstrap3.css" >
  <script src="/static/selectize/js/standalone/selectize.js"></script>
  <link type="text/css" href="/static/css/style.css">
  <body>
  <div id="wrapper">
    <div class="main-container">
        <div class="container-fluid">
        {% include 'header.html' %}<br>

        <div class="col-sm-12 page-content">
          <div class="inner inner-box ads-details-wrapper">
              <div class="title-2 logo-title">
                  <h2>Add Village</h2>
              </div><br>
              
              <form class="form-horizontal"  role="form" action="" method="POST" data-parsley-validate="true"> {% csrf_token %}

              <div class="form-group">
                  <label  class="col-sm-2 control-label">Village Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  required="" data-parsley-trigger="change" placeholder="Enter Village" name="village" value="">
                  </div><br><br>
              </div>

              <div class="form-group">
              <label  class="col-sm-2 control-label">Institution Name</label>
              <div class="col-sm-4 select-control1">
            
              <select class="form-control selected select-gear" value="ins" id="institution"  name="institution"   required>
                
                {% for institution in institution %}
                <option   value="{{institution.pk}}" class="prod">{{ institution }}
                </option>
                {% endfor %}
              </select>
    </div>
    </div><br><br>
    <div class="col-sm-4"></div>
    <input type="submit" class="btn btn-primary pull-right" value="SUBMIT"/>
                      
                </fieldset>
              </form>
            </div>
          </div>
       </div>
    </div>
  </div>
</body>
<script>
$('.select-gear').selectize({
    sortField: 'text',
    placeholder: 'Select Option..',
});
</script>
</html>