<html>
<head>
<style>
 <style>
    body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}



  </style>
</style>
<head>
<body>
<div class="container-fluid">
<div class="row">


  <div class="topnav">
  <a class="active" href="/map/">Home</a>
  <a href="/register/">Register Farmer</a>
  <a href="/add_village/">Add Village</a>
  <a href="/add_institution/">Add Institution</a>
  <a href="/add_crop/">Add Crop</a>
  <a href="/institution/" >Report</a>    
  <a href="/" style="float:right;">LOGOUT</a>

<!--   <ul class="nav navbar-nav navbar-right pull-right hidden-xs">
<li>
                        <a href="#" data-toggle="dropdown" class="navbar-img-link">
                            <img class="img-circle" src="/static/img/Faces_Users-05.png" style="width: 25px;" />
                            <span class="hidden-xs hidden-sm hidden-md">{{ user.username }}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeIn fast">
                            <li>
                                <a href="/">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <a href="/">
                                        <i class="fa fa-power-off text-danger"></i>
                                        <span class="text-danger">Sign out</span>
                                    </a>
                                </a>
                            </li>
                        </ul>
</li>
</ul> -->


</div>
</div>
</div>
    
    
  
    
    
  </span>
</div>
</div>



















<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        
<ul class="nav navbar-nav navbar-right pull-right hidden-xs">
<li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="navbar-img-link">
                            
                            <span class="hidden-xs hidden-sm hidden-md"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeIn fast">
                            <li>
                                <a href="/">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                            </li>

                           
                        </ul>
</li>
</ul> -->


            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href='/map/'><span>Home</span></a></li>
                    <li><a href='/add_institution/'><span>Add Institution</span></a></li>
                    <li><a href='/add_village/'><span>Add Village</span></a></li>
                    <li><a href='/add_crop/'><span>Add Crop</span></a></li>
                    <li><a href='/'><span>Register Farmer</span></a></li> -->
                    <!-- <li><a href='/payment/'><span>Payment</span></a></li>
                    <li><a href='/payment_list/'><span>Payment List</span></a></li>
                    <li><a href='/calander/'><span>Calander</span></a></li>
                    <li><a href='/report/'><span>Report</span></a></li> -->

                <!-- </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container -->
    <!-- </nav> -->
</div>
</body>
</html>
