<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/parsley.min.js"></script> 
  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <style>


.main{
    margin-top: 50px;
}

.main-content {
/*    background-color:#009edf;*/
    border: 2px solid #009edf;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 40px;
    color: #ccc;
    text-shadow: none;

}


.input-group{
  margin: 20px 0px;
}
.input-group-addon {
    color: #009edf ;
    font-size: 17px;
}
.login-button{
    margin: 0px auto;
    max-width: 200px;;
    
}


.form-header{
    max-width: 500px;
    margin: 0 auto;
    background-color: #009edf;
    color: #fff;
    /*width: 100% ;*/
    padding: 10px 0px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px 
}
.remember{
    color: black;
}

  </style>
<body>
<div class="container">



                          
                        <form class="form-horizontal"  role="form" action="/" method="POST" data-parsley-validate="true"> {% csrf_token %}

<br><br><br>
                         <div class="form-header">
          <h1 class="text-center " style="text-align: center;">Login</h1>
        </div>
    <div class="main-content">
            
          <div class="input-group ">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input id="user" type="text" class="form-control" name="username" placeholder="Enter User Name">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Enter your Password">
          </div>
        
         <div class="checkbox">
            <label class="remember">
                <input name="remember" type="checkbox" > Remember Me
            </label>
        </div>
          
          <div class="form-group ">
              <input type="submit" class="btn btn-primary pull-right" value="SUBMIT" style="margin-left:150px;"/>
          </div>
          

      
      </div>
                                    
                            
                                
                                
                        </form>
                      </div>
                    




</body>
</html>