<!DOCTYPE html>
<html>
  <title>Simple Map</title>
  <head>
  {% load staticfiles %}
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/selectize.bootstrap3.css" >
  <link rel="stylesheet" href="/static/css/selectize.css" >
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/script1.js"></script>
  <link href="/static/css/selectize.css" >
  <link href="/static/css/selectize.bootstrap3.css" >
  <script src="/static/selectize/js/standalone/selectize.js"></script>
  <link type="text/css" href="/static/css/style.css">
  <style>
  html, body {
     margin: 0;
     padding: 0;
     height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
 }

.btn {
  padding: 8px 12px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#2E4053;
  border: none;
  }
.selectize:hover {background-color: #FBFCFC  ;
            color:#17202A ;
}
.selectize:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn:hover {background-color: #FBFCFC  ;
            color:#17202A ;
}
.btn:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -238px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    /*padding-top: 70px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 15px;
  height: 26px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

  </style>
<script>
var ins_center_lat;
var ins_center_lng;
var markers = [];
var lines=[];
var mark=[];
var alllat="";
var alllng="";
var map2;
var area=0.0;
var center_latlng;
var myLatlng2;
var marker;
function initialize() {
    
    {
      var myLatlng = new google.maps.LatLng(16.6095,75.4017)
    var mapOptions = {
        draggableCursor:'crosshair',
        zoom: 15,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.HYBRID  
    }

}

var mapCanvas = document.createElement("div");
mapCanvas.id = "canvas";
mapCanvas.style.width = "100%";
mapCanvas.style.height = "100%";
document.body.appendChild(mapCanvas);
var map = new google.maps.Map(mapCanvas, mapOptions);


var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
   map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('pac-input'));
   google.maps.event.addListener(searchBox, 'places_changed', function() {
     searchBox.set('map', null);

var places = searchBox.getPlaces();

var bounds = new google.maps.LatLngBounds();
var i, place;
  for (i = 0; place = places[i]; i++)
   {
       (function(place) 
       {
         var marker = new google.maps.Marker({

           position: place.geometry.location
         });
         marker.bindTo('map', searchBox, 'map');
         google.maps.event.addListener(marker, 'map_changed', function() {
           if (!this.getMap()) {
             this.unbindAll();
           }
         });
bounds.extend(place.geometry.location);


       }(place));
}
     map.fitBounds(bounds);
     searchBox.set('map', map);
     map.setZoom(Math.min(map.getZoom(),12));

   });
   

   

var marker = new google.maps.Marker({
    draggable: true,
    map: map,
    title: "Your location"
  });
  
  google.maps.event.addListener(marker, 'dragend', function(event) {
  document.getElementById("lat").value = event.latLng.lat();
  document.getElementById("long").value = event.latLng.lng();
  flightPath.setPath([flightPath.getPath().getAt(0),
                      new google.maps.LatLng(event.getPosition().lat(),
                                             event.getPosition().lng())]);
  });
  // flightPath.setMap(map);
var myTable = {% autoescape off %}{{ table_data }}{% endautoescape %};


for(var i=0;i<myTable.length;i++)
{
  var fields=[];
  
  acres = myTable[i].acres;
  name = myTable[i].farmer;
  distance=myTable[i].distance
  distance1=myTable[i].distance1

  var bounds = new google.maps.LatLngBounds();


  for(var j=0;j<myTable[i].points.length;j++)
  {

    var myLatlng2 = new google.maps.LatLng(myTable[i].points[j].latitude,myTable[i].points[j].longitude);   
      fields.push(myLatlng2);
      bounds.extend(myLatlng2);

  }

  var center_latlng = bounds.getCenter();


  var line = new google.maps.Polygon({
    path:fields,
    draggable: false,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 1,
    fillColor: '#76FF03',
    fillOpacity: 0.554,
    map: map,
    title:"youeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
   });

attachPolygonInfoWindow(line,name,acres,distance1);

  function attachPolygonInfoWindow(polygon,name,acres,distance1)
    {
        var infoWindow = new google.maps.InfoWindow();
        google.maps.event.addListener(line, 'mouseover', function (e) {
            infoWindow.setContent(name+"</br>"+"Acres-"+acres+"</br>"+"Distance-"+distance1);
            var latLng = e.latLng;
            infoWindow.setPosition(latLng);     
            infoWindow.open(map);
        });
        var infoWindow = new google.maps.InfoWindow();
        google.maps.event.addListener(line, 'mouseout', function (e) {
            infoWindow.close(map);
        });
    }

}


  google.maps.event.addListener(map, 'click', function(event) {

  for(i=0;i<lines.length;i++)
  {
    lines[i].setMap(null);
    
  }
    var myLatlng2 = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng())


var nextMarker = new google.maps.Marker({
       draggable: true,
       position: myLatlng2,
       map: map,
// editable: true,
         title: "Your location"
   });
  mark.push(nextMarker);


  markers.push(myLatlng2);



var line = new google.maps.Polygon({
    path:markers,
    draggable: false,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 1,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    map: map,
    title:"you"
// geodesic: true
});

map2=map;

lines.push(line);


var area=0.0;

area = google.maps.geometry.spherical.computeArea(line.getPath().getArray());

document.getElementById("display").innerHTML = area*0.000247105;

// ----------CAL DISTANCE ---------------

  distanceCal(ins_center_lat,ins_center_lng);

});

}


function deleteMarkers()
{

if(markers.length<=0)
{

}
else
{
  markers.pop();
  mark[mark.length-1].setMap(null);
  lines[lines.length-1].setMap(null);
  mark.pop();
  lines.pop();
  var line = new google.maps.Polygon({
      path:markers,
      draggable: false,
      strokeColor: "#FF0000",
      strokeOpacity: 1.0,
      strokeWeight: 1,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map2,
      
      // editable: true,
// geodesic: true
title:"you"
  });
lines.push(line);
var area=0.0;

area = google.maps.geometry.spherical.computeArea(line.getPath().getArray());

document.getElementById("display").innerHTML = area*0.000247105;

}

}

function clearMarkers()
{
  
  document.getElementById("display").innerHTML = '0.00';

  for(var i=0;i<lines.length;i++)
  {
    lines[i].setMap(null);
  }
  lines=[];
  markers=[];
  for(var i=0;i<mark.length;i++)
  {
          mark[i].setMap(null);
  } 


}

function addall()
{

  for(var i=0;i<markers.length;i++)
  {

    alllat = alllat+"<input type='text' name='latitudes' value='"+markers[i].lat()+"' hidden=''>";
    alllng = alllng+"<input type='text' name='longitudes' value='"+markers[i].lng()+"' hidden=''>";
  }
  
$("#data").html(alllat+alllng+"<input type='text' name='acres' value='"+google.maps.geometry.spherical.computeArea(lines[lines.length-1].getPath().getArray())*0.000247105+"' hidden=''>")

}


function distanceCal(lat,lon)
{
  ins_center_lat = lat;
  ins_center_lng = lon;
  var bounds = new google.maps.LatLngBounds();
for(var j=0;j<markers.length;j++)
  {

    
    var myLatlng2 = new google.maps.LatLng(markers[j].lat(),markers[j].lng());   
    bounds.extend(myLatlng2);
  }

   var center_latlng = bounds.getCenter();


// console.log("center----------------"+center_latlng);
function deg2rad(deg) {
  return deg * (Math.PI/180)
}
var R = 6371; 
var lat2=center_latlng.lat();
var lon2=center_latlng.lng();
var dLat = deg2rad(lat2-lat);  // deg2rad below
var dLon = deg2rad(lon2-lon); 
var a = 
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(deg2rad(lat)) * Math.cos(deg2rad(lat2)) * 
    Math.sin(dLon/2) * Math.sin(dLon/2)
    ; 
var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
var d1 = R * c; // Distance in km

// console.log("distence-----d1.."+d1);
$("#distance1").html("<input type='text' name='distance1' value='"+ d1 +"' hidden=''>")
  
  
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

</head>

<body>

<form class="form-horizontal"  role="form" action="/data/" method="POST" data-parsley-validate="true"> {% csrf_token %}
<div class="container-fluid" style="background:#e69900;">
<div id="wrapper">
<div class="row">

  

   <!-- <div class="col-sm-2">
   <div class="select-control1">
      <select class="form-control selected select-gear" value="ins" id="institution"  name="institution" style="margin-left: -30px;"  required>
        
        {% for institution in institution %}
        <option   value="{{institution.pk}}" class="prod">{{ institution }}
        </option>
        {% endfor %}
      </select>
    </div>
    </div>


    <div class="col-sm-2">         
      <select class="form-control selected select-gear-village" value="villagepk" id="villpk"  name="villpk" style="margin-left: -30px;"  required>
      </select>
    </div>

    <div class="col-sm-2">             
    <select class="form-control selected select-gear-farmer" value="Farmer" id="farmerselect"  name="farmerselect" required>        
    <option value="{{farmers.pk}}" id="prod"></option>       
    </select>
    </div>

    <div class="col-sm-2">
        <select class="form-control selected select-gear" value="Crop Type" id="crop"  name="crop" style="margin-left: -16px;"  required>
        
        {% for farmerfield in crop %}
        <option   value="{{farmerfield.pk}}" class="prod">{{ farmerfield }}                    
        </option>
        {% endfor %}
        </select>
        </div>


        <div class="col-sm-2">
        <select class="form-control selected select-gear" value="Water Resources" id="watersource"  name="watersource" style="margin-left: -30px;"  required>
        {% for water_source in water_source %}
        <option   value="{{water_source.pk}}" class="prod">{{ water_source }}
        </option>
        {% endfor %}
        </select>
        </div>

</div><br>
<div class="row">

<input onclick="deleteMarkers();" class="col-sm-2 col-sm-offset-1 btn" type=button value="Delete Point" style="margin-left: 38px;" />
<input onclick="clearMarkers();" class="col-sm-offset-1 col-sm-2 btn" type=button value="Clear Markers" style="margin-left: 38px;" />
<input  type="submit" class="col-sm-2 col-sm-offset-1 btn" onclick="addall()" id="mybutton" name="mybutton" value="SUBMIT" style="margin-left: 38px;" />

<lable style="color:black;font-size:20px;">Acres</lable><div class="col-sm-2" id="display" style="color:white;font-size:20px;"></div>

</div>    -->



  
        <!-- <div class="overlay"></div> -->
        <!-- Sidebar -->

        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    
                </li>
                <li>
                    <a href="/add_institution/">Add Institution</a>
                </li>
                <li>
                    <a href="/add_village/">Add Village</a>
                </li>
                <li>
                    <a href="/register/">Register Farmer</a>
                </li>
                <li>
                    <a href="/add_crop/">Add Crop</a>
                </li>
                
                <li>
                    <a href="/institution/">Report</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
           </ul>
        </nav>
            <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
            </button>


<div class="col-sm-2" style="margin-left: 30px">
   <div class="select-control1">
      <select class="form-control selected select-gear" value="ins" id="institution"  name="institution" style=" margin-left: 19px; height: 38px;"  required>
        
        {% for institution in institution %}
        <option   value="{{institution.pk}}" class="prod">{{ institution }}
        </option>
        {% endfor %}
      </select>
    </div>
    </div>


    <div class="col-sm-2">         
      <select class="form-control selected select-gear-village" value="villagepk" id="villpk"  name="villpk" style="margin-left: -30px;"  required>
      </select>
    </div>

    <div class="col-sm-2">             
    <select class="form-control selected select-gear-farmer" value="Farmer" id="farmerselect"  name="farmerselect" required>        
    <option value="{{farmers.pk}}" id="prod"></option>       
    </select>
    </div>

    <div class="col-sm-2">
        <select class="form-control selected select-gear" value="Crop Type" id="crop"  name="crop" style="margin-left: -16px;"  required>
        
        {% for farmerfield in crop %}
        <option   value="{{farmerfield.pk}}" class="prod">{{ farmerfield }}                    
        </option>
        {% endfor %}
        </select>
        </div>


        <div class="col-sm-2">
        <select class="form-control selected select-gear" value="Water Resources" id="watersource"  name="watersource" style="margin-left: -30px;"  required>
        {% for water_source in water_source %}
        <option   value="{{water_source.pk}}" class="prod">{{ water_source }}
        </option>
        {% endfor %}
        </select>
        </div>

</div><br><br>
<div class="row" style="margin-left: 9px;">

<input onclick="deleteMarkers();" class="col-sm-2 col-sm-offset-1 btn" type=button value="Delete Point" style="margin-left: 38px;" />
<input onclick="clearMarkers();" class="col-sm-offset-1 col-sm-2 btn" type=button value="Clear Markers" style="margin-left: 38px;" />
<input  type="submit" class="col-sm-2 col-sm-offset-1 btn" onclick="addall()" id="mybutton" name="mybutton" value="SUBMIT" style="margin-left: 38px;" />

<!-- <a href="/"><button>LOGOUT</button></a> -->

<!-- <lable style="color:black;font-size:20px;">Acres</lable> -->
<div class="col-sm-2" id="display" style="color:white;font-size:20px;"></div>
<lable style="color:black;font-size:20px;">Acars</lable>

</div><br>

<div id="data"></div>
        <div id="distance"></div>
        <div id="distance1"></div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map_canvas"></div>


            </div>




      <!-- <div class="col-sm-2">
   <div class="select-control1" style=" margin-left: 19px; height: 38px;">
      <select class="form-control selected select-gear" value="ins" id="institution"  name="institution" style=" margin-left: 19px; height: 38px;"  required>
        
        {% for institution in institution %}
        <option   value="{{institution.pk}}" class="prod">{{ institution }}
        </option>
        {% endfor %}
      </select>
    </div>
    </div>


    <div class="col-sm-2">         
      <select class="form-control selected select-gear-village" value="villagepk" id="villpk"  name="villpk" style="margin-left: -30px;"  required>
      </select>
    </div>

    <div class="col-sm-2">             
    <select class="form-control selected select-gear-farmer" value="Farmer" id="farmerselect"  name="farmerselect" required>        
    <option value="{{farmers.pk}}" id="prod"></option>       
    </select>
    </div>

    <div class="col-sm-2">
        <select class="form-control selected select-gear" value="Crop Type" id="crop"  name="crop" style="margin-left: -16px;"  required>
        
        {% for farmerfield in crop %}
        <option   value="{{farmerfield.pk}}" class="prod">{{ farmerfield }}                    
        </option>
        {% endfor %}
        </select>
        </div>


        <div class="col-sm-2">
        <select class="form-control selected select-gear" value="Water Resources" id="watersource"  name="watersource" style="margin-left: -30px;"  required>
        {% for water_source in water_source %}
        <option   value="{{water_source.pk}}" class="prod">{{ water_source }}
        </option>
        {% endfor %}
        </select>
        </div>

</div><br>
<div class="row">

<input onclick="deleteMarkers();" class="col-sm-2 col-sm-offset-1 btn" type=button value="Delete Point" style="margin-left: 38px;" />
<input onclick="clearMarkers();" class="col-sm-offset-1 col-sm-2 btn" type=button value="Clear Markers" style="margin-left: 38px;" />
<input  type="submit" class="col-sm-2 col-sm-offset-1 btn" onclick="addall()" id="mybutton" name="mybutton" value="SUBMIT" style="margin-left: 38px;" />

<lable style="color:black;font-size:20px;">Acres</lable><div class="col-sm-2" id="display" style="color:white;font-size:20px;"></div>

</div>    -->





  
       
        
        <!-- <div id="info"></div> -->
        
        <!-- <div id="data"></div>
        <div id="distance"></div>
        <div id="distance1"></div> -->

        {% for i in farmerfield %}
        <input type="hidden" value="i.pk" id="frm">
        {% endfor %}
        <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map_canvas"></div> -->



        </div>  
        </div>        
    </nav>
</form>
</body>
<script>
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});

  $('.select-gear').selectize({
    sortField: 'text',
    placeholder: 'Select Option..',
});

  $('.select-gear-village').selectize({
    sortField: 'text',
    placeholder: 'Village',
});

  $('.select-gear-farmer').selectize({
    sortField: 'text',
    placeholder: 'Farmers',
});
</script>


<script>
  
    function getCookie(name)
{
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}


$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            var csrftoken = getCookie('csrftoken');
            if(csrftoken) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    }
});


$(".select-control1 select").on("change", function(){    
  var institution = $(this).prop("value");
  
 
 
  $.ajax({
            url:"/map/",
            type:"POST",
            data:{"institution":institution},
            success:function(content)
            {
              lat=content[0]['latitude'];
              lon=content[0]['longitude'];
              

               var selectize_element = $("#villpk")[0].selectize;

               distanceCal(lat,lon)

               $.each(selectize_element.options, function(theIndex, theItem) {
                if ($.inArray(theItem.value, selectize_element.items) === -1) {
                selectize_element.removeOption(theItem.value);
                }
                });


            for (i=0;i<content.length;i++)  
             {
             
                   selectize_element.addOption({
                      text:content[i]['village_name'],
                      value: content[i]['pk']
                  });
                  
                  selectize_element.addItem(content[i]['village_name']);
                  // selectize_element.refreshOptions() ;
          
                  
             
              }
              

            }

        }); 

  });






    $("#villpk").on("change", function(){   
    var village = $(this).val()
    // alert(village)
       
    $.ajax({
                url:"/map/",
                type:"POST",
                data:{"village":village},
                success:function(content)
                { 
                  
                var selectize_element = $("#farmerselect")[0].selectize;

                $.each(selectize_element.options, function(theIndex, theItem) {
                if ($.inArray(theItem.value, selectize_element.items) === -1) {
                selectize_element.removeOption(theItem.value);
                }
                }); 
                 for (i=0;i<content.length;i++)  
                  {
                      
                           selectize_element.addOption({
                              text:content[i]['name'],
                              value: content[i]['pk']
                          });
                          selectize_element.refreshOptions() ;
                          selectize_element.addItem(content[i]['name']);
                  
             
                   }
                 }
          

                
            });   

     });
</script>

</html>
