<!DOCTYPE html>
<html>
  <title>Simple Map</title>
  <head>
  {% load staticfiles %}
<head>
 <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <script src="js/bootstrap.min.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <style>
	html, body {
     margin: 0;
     padding: 0;
     height: 100%;
    width: 100%;
 }
  </style>
<script>
var markers = [];
var lines=[];
var mark=[];
var alllat="";
var alllng="";
var map2;














function initialize() {


alert('hi');


    
    var myLatlng = new google.maps.LatLng(24.713956, 77.006653)
    var mapOptions = {
        zoom: 3,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var mapCanvas = document.createElement("div");
    mapCanvas.id = "canvas";
    mapCanvas.style.width = "100%";
    mapCanvas.style.height = "100%";
    document.body.appendChild(mapCanvas);
    var map = new google.maps.Map(mapCanvas, mapOptions);

    var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('pac-input'));



     google.maps.event.addListener(searchBox, 'places_changed', function() {
     

     searchBox.set('map', null);

 var places = searchBox.getPlaces();


var bounds = new google.maps.LatLngBounds();
var i, place;
  for (i = 0; place = places[i]; i++) {
       (function(place) {
         var marker = new google.maps.Marker({

           position: place.geometry.location
         });
         marker.bindTo('map', searchBox, 'map');
         google.maps.event.addListener(marker, 'map_changed', function() {
           if (!this.getMap()) {
             this.unbindAll();
           }
         });
     bounds.extend(place.geometry.location);


       }(place));
    }
     map.fitBounds(bounds);
     searchBox.set('map', map);
     map.setZoom(Math.min(map.getZoom(),12));

   });
   

var marker = new google.maps.Marker({
    draggable: true,
    map: map,
    title: "Your location"
  });

  
  google.maps.event.addListener(marker, 'dragend', function(event) {
    document.getElementById("lat").value = event.latLng.lat();
    document.getElementById("long").value = event.latLng.lng();
  });





var myTable = {% autoescape off %}{{ table_data }}{% endautoescape %};
// alert(myTable);


for(var i=0;i<myTable.length;i++)
{
  var fields=[];
  for(var j=0;j<myTable[i].points.length;j++)
  {


    var myLatlng2 = new google.maps.LatLng(myTable[i].points[j].latitude,myTable[i].points[j].longitude);
    fields.push(myLatlng2);

   }

  var line = new google.maps.Polygon({
    path:fields,
    draggable: false,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 1,
    fillColor: '#76FF03',
    fillOpacity: 0.954,
    editable: true,
    map: map,
    geodesic: true
   });
}














  google.maps.event.addListener(map, 'click', function(event) {





    // data_from_django = '{{ farmers|escapejs }}';
    // var h=JSON.parse(data_from_django['farmer']);
    // // init(data_from_django);
    // alert(data_from_django);





	for(i=0;i<lines.length;i++)
	{
		lines[i].setMap(null);
		
	}


    var myLatlng2 = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng())


	var nextMarker = new google.maps.Marker({
   		 draggable: true,
  		 position: myLatlng2,
   		 map: map,
editable: true,
    		 title: "Your location"
 	 });
	mark.push(nextMarker);


	markers.push(myLatlng2);
//alert(markers);

var line = new google.maps.Polygon({
    path:markers,
    draggable: false,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 1,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    editable: true,
    map: map,
geodesic: true
});

map2=map;

lines.push(line);

var area=0.0;

area = google.maps.geometry.spherical.computeArea(line.getPath().getArray());

document.getElementById("display").innerHTML = area*0.000247105;

});


}
function deleteMarkers()
{

//alert(markers);
if(markers.length<=0)
{
}
else
{
	markers.pop();
	mark[mark.length-1].setMap(null);
	lines[lines.length-1].setMap(null);
	mark.pop();
	lines.pop();
	var line = new google.maps.Polygon({
	    path:markers,
	    draggable: false,
	    strokeColor: "#FF0000",
	    strokeOpacity: 1.0,
	    strokeWeight: 1,
	    fillColor: '#FF0000',
	    fillOpacity: 0.35,
	    map: map2,
	    editable: true,
geodesic: true
	});
lines.push(line);

}


}

function clearMarkers()
{

	for(var i=0;i<lines.length;i++)
	{
		lines[i].setMap(null);
	}
	lines=[];
	markers=[];
	for(var i=0;i<mark.length;i++)
	{
	        mark[i].setMap(null);
	}	



}

function addall()
{

  for(var i=0;i<markers.length;i++)
  {

    alllat = alllat+"<input type='text' name='latitudes' value='"+markers[i].lat()+"' hidden=''>";
    alllng = alllng+"<input type='text' name='longitudes' value='"+markers[i].lng()+"' hidden=''>";
  }


$("#data").html(alllat+alllng+"<input type='text' name='acres' value='"+google.maps.geometry.spherical.computeArea(lines[lines.length-1].getPath().getArray())*0.000247105+"' hidden=''>")



}





google.maps.event.addDomListener(window, 'load', initialize);

</script>

</head>
{% include "header.html" %}
<body>
<div class="container">
  <div class="row">
  <div class="col-sm-12">
<input onclick="deleteMarkers();" type=button value="Delete Last Point">
<input onclick="clearMarkers();" type=button value="Clear Markers"><br><br>

<div id="display"></div>
<form class="form-horizontal"  role="form" action="/data/" method="POST" data-parsley-validate="true"> {% csrf_token %}
<div class="form-group">
                                <div class="col-sm-2 col-sm-offset-4">
                                    <label class="control-label">Farmers:</label>
                                </div>
                                <div class="col-sm-4">
                                    <select id="farmer"  name="farmers"  required>
                                        <option value="10"> Select Farmers</option>
                                        {% for farmers in farmers %}
                                        <option   value="{{farmers.pk}}" class="prod">{{ farmers }}
                                        </option>

                                        {% endfor %}
                                        
                                    </select>
                                   
                                </div>
<!-- {% for i in data %}
<div id='data'>{{i}}</div>
{% endfor %}
 -->

                                 <input  type="submit" onclick="addall()" id="mybutton" name="mybutton" value="SUBMIT"/>
</div>
{% for i in farmerfield %}
<input type="hidden" value="i.pk" id="frm">
{% endfor %}
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map_canvas"></div>
<div id="data"></div>

</form>
</body>
</html>