<!DOCTYPE html>
<html>
  <title>Simple Map</title>
  <head>
  {% load staticfiles %}
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/selectize.bootstrap3.css" >
  <link rel="stylesheet" href="/static/css/selectize.css" >
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/script1.js"></script>
  <link href="/static/css/selectize.css" >
  <link href="/static/css/selectize.bootstrap3.css" >
  <script src="/static/selectize/js/standalone/selectize.js"></script>
  <link type="text/css" href="/static/css/style.css">
  <body>
  <div id="wrapper">
    <div class="main-container">
        <div class="container-fluid">
        {% include 'header.html' %}<br>

        <div class="col-sm-12 page-content">
          <div class="inner inner-box ads-details-wrapper">
              <div class="title-2 logo-title">
                  <h2>Register Farmer</h2>
              </div><br><br>
              
              <form class="form-horizontal"  role="form" action="" method="POST" data-parsley-validate="true"> {% csrf_token %}

              <fieldset>
                 <div class="panel-body ">
                    <div class="col-sm-12">
                       <div class="col-sm-6">

                        <div class="form-group">
                            <label  class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control"  required="" data-parsley-trigger="change" placeholder="Enter name" name="name" value="{{member.name}}">
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone number</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon">+91</div>
                                    <input class="form-control" type="text" required="" data-parsley-trigger="change"  placeholder="Enter phone number" name="phonenumber" value="">
                                </div>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label  class="col-sm-4 control-label">District</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control"  required="" data-parsley-trigger="change" placeholder="Enter District" name="district" value="">
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label  class="col-sm-4 control-label">State</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control"  required="" data-parsley-trigger="change" placeholder="Enter State" name="state" value="">
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label  class="col-sm-4 control-label">Farmer Code</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control"  required="" data-parsley-trigger="change" placeholder="Enter farmercode" name="farmercode" value="">
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label  class="col-sm-4 control-label">Fields</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control"  required="" data-parsley-trigger="change" placeholder="Enter no_of_fields" name="no_of_fields" value="">
                            </div>
                        </div><br>

              <div class="form-group">
              <label  class="col-sm-4 control-label">Institution Name</label>
              <div class="col-sm-8 select-control1">
            
              <select class="form-control selected select-gear" value="ins" id="institution"  name="institution"   required>
                
                {% for institution in institution %}
                <option   value="{{institution.pk}}" class="prod">{{ institution }}
                </option>
                {% endfor %}
              </select>
    </div>
    </div><br>

<div class="form-group">
<label  class="col-sm-4 control-label">Village</label>
    <div class="col-sm-8">         
      <select class="form-control selected select-gear" value="villagepk" id="villpk"  name="villpk" style="margin-left: -30px;"  required>
      </select>
    </div>
  </div><br><br>
  <div class="col-sm-4"></div>

                        
                      
                          <input type="submit" class="btn btn-primary pull-right" value="SUBMIT"/>
                      
                </fieldset>
              </form>
            </div>
          </div>
       </div>
    </div>
  </div>
</body>
<script>
$('.select-gear').selectize({
    sortField: 'text',
    placeholder: 'Select Option..',
});
</script>
<script>

    function getCookie(name)
{
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}


$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            var csrftoken = getCookie('csrftoken');
            if(csrftoken) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    }
});


$(".select-control1 select").on("change", function(){    
  var institution = $(this).prop("value");
  alert(institution)
  
 
 
  $.ajax({
            url:"/register/",
            type:"POST",
            data:{"institution":institution},
            success:function(content)
            {
                            

               var selectize_element = $("#villpk")[0].selectize;
               
               $.each(selectize_element.options, function(theIndex, theItem) {
                if ($.inArray(theItem.value, selectize_element.items) === -1) {
                selectize_element.removeOption(theItem.value);
                }
                });


            for (i=0;i<content.length;i++)  
             {
                  
                   selectize_element.addOption({
                      text:content[i]['village_name'],
                      value: content[i]['pk']
                  });
                  
                  selectize_element.addItem(content[i]['village_name']);
                  selectize_element.refreshOptions() ;
          
                  
             
              }

             // var s="<form action='/register/' method='POST'>{% csrf_token %} <select class='form-control selected select-gear' value='Farmer' id='farm'  name='farmers' required>";
             //    for(i=0;i<content.length;i++)
             //    {
             //      s=s.concat('<option value = '+content[i]['pk']+'>'+content[i]['village_name']+'</option>')
             //    }
                
             //      $('#villpk').html(s+"</select>");
              

            }

        }); 

  });
</script>
